* {
  outline: none;
}

body {
  background: url(https://images2.alphacoders.com/594/594015.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: 0 auto;
  min-height: 100%;
}

nav.navbar {
  margin-top: 20px;
  border-radius: 0px;
  border: none;
  background: rgba(32, 190, 242, 0.7);
  font-family: "Amatic SC", "arial";
  font-size: 30px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default .navbar-nav > li {
  padding: 0  30px;
}

.navbar-default .navbar-nav > li > a,
.navbar .navbar-brand {
  color: white;
}

h1, div.social-links {
  text-align: center;
  font-size: 100px;
  color: white;
  font-family: 'Amatic SC', cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

div.social-links {
  opacity: 0.6;
}

h2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}

@media only screen and (max-width: 768px) {
  h1, div.social-links {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }
}


img {
  height: 200px;
  width: 150px;
}

a:visited {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

div {
  padding-top: 30px
  display: block;
}

div.background {
  background: url(klematis.jpg) repeat;
}

div.transbox {
  margin: 30px;
  padding: 15px;
  /* 
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  */

  /* 
   * opacity will change transparency of all elements inside the div
   * to make only transparent background use:
   * rgba (red, green, blue, opacity) where opacity is value between 0 and 1 
   */
  background-color: rgba(255, 255, 255, 0.6);    
  
  overflow: hidden;
  word-break: normal;
}

div.transbox p,
div.transbox h2 {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox textarea {
  resize: none;
}
